:root {
  --mf-link-main-color: #ecedee;
  --mf-link-secondary-color: #a1a1aa;
  --mf-radius-1: 0.5rem;
  --mf-spacing-1: 0.5rem;
  --mf-gap-1: 1rem;
  --mf-color-bg: #121212;
  --mf-secondary-bg: #27272a;
}

body {
  background-color: var(--mf-color-bg);
}