$spacing: (
  0: 0,
  1: 2px,
  2: 4px,
  3: 6px,
  4: 8px,
  5: 12px,
  6: 16px,
  7: 20px,
  8: 24px,
  9: 32px,
  10: 36px,
  11: 40px,
  12: 44px,
  13: 48px,
  14: 56px,
  15: 64px,
  half: 50%,
  wide: 100%,
  auto: auto,
);

$params: (
  'gap': (
    property: gap,
    class: gap,
    values: $spacing,
  ),
  'margin': (
    property: margin,
    class: m,
    values: $spacing,
  ),
  'margin-horizontal': (
    property: margin-right margin-left,
    class: mh,
    values: $spacing,
  ),
  'margin-vertical': (
    property: margin-top margin-bottom,
    class: mv,
    values: $spacing,
  ),
  'margin-left': (
    property: margin-left,
    class: ml,
    values: $spacing,
  ),
  'margin-right': (
    property: margin-right,
    class: mr,
    values: $spacing,
  ),
  'margin-top': (
    property: margin-top,
    class: mt,
    values: $spacing,
  ),
  'margin-bottom': (
    property: margin-bottom,
    class: mb,
    values: $spacing,
  ),
);

@include key-value-generator($params);
