//--------------------------------------------------------------------------------------------------
// Stack
//--------------------------------------------------------------------------------------------------
.vstack {
  display: flex;
  flex-direction: column;
}
.hstack {
  display: flex;
  flex-direction: row;
}

//--------------------------------------------------------------------------------------------------
// Horizontal stack
//--------------------------------------------------------------------------------------------------
.hstack-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.hstack-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.hstack-3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.hstack-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.hstack-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hstack-6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.hstack-7 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.hstack-8 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.hstack-9 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

//--------------------------------------------------------------------------------------------------
// Vertical stack
//--------------------------------------------------------------------------------------------------
.vstack-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vstack-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.vstack-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.vstack-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.vstack-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vstack-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.vstack-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.vstack-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.vstack-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
