@use 'sass:list';
@use 'sass:map';

$size: (
  // [name]: [font-size] [line-height] [letter-spacing]
  xs: 12px 16px 0,
  sm: 14px 20px 0,
  base: 16px 24px 0,
  lg: 18px 28px 0,
  xl: 20px 28px 0,
  2xl: 24px 32px 0,
  3xl: 30px 36px 0,
  4xl: 36px 40px 0,
  5xl: 48px 1 0,
  6xl: 60px 1 0,
  7xl: 72px 1 0,
  8xl: 96px 1 0,
  9xl: 128px 1 0
);

$weight: (
  thin: 100,
  extralight: 200,
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  black: 900,
);

///
/// @param {string} $name
@mixin text($name) {
  @if false == map.has-key($size, $name) {
    @error "utils(Text): not exist `#{$name}` name";
  }
  $set: map.get($size, $name);

  font-size: list.nth($set, 1);
  line-height: list.nth($set, 2);
  letter-spacing: list.nth($set, 3);
}

// todo: переместить в другое место
@each $name, $set in $size {
  .text-#{$name} {
    @include text($name);
  }
}
@each $name, $value in $weight {
  .font-#{$name} {
    font-weight: $value;
  }
}
