$stack: (
  hstack: (
    // [name]: [align-items] [justify-content]
    1: flex-start flex-start,
    2: flex-start center,
    3: flex-start flex-end,
    4: center flex-start,
    5: center center,
    6: center flex-end,
    7: flex-end flex-start,
    8: flex-end center,
    9: flex-end flex-end,
  ),
  vstack: (
    // [name]: [align-items] [justify-content]
    1: flex-start flex-start,
    2: flex-start center,
    3: flex-start flex-end,
    4: center flex-start,
    5: center center,
    6: center flex-end,
    7: flex-end flex-start,
    8: flex-end center,
    9: flex-end flex-end,
  ),
);
