@mixin key-value-generator($params) {
  @each $name, $param in $params {
    $properties: map-get($param, 'property');
    $class: map-get($param, 'class');
    $values: map-get($param, 'values');

    @each $value_key, $value in $values {
      .#{$class}-#{$value_key} {
        @each $property in $properties {
          #{$property}: $value;
        }
      }
    }
  }
}
