$size: (
  0: 0,
  1: 2px,
  2: 4px,
  3: 6px,
  4: 8px,
  5: 12px,
  6: 16px,
  7: 20px,
  8: 24px,
  9: 32px,
  10: 36px,
  11: 40px,
  12: 44px,
  13: 48px,
  14: 56px,
  15: 64px,
  half: 50%,
  wide: 100%,
  auto: auto,
);
