.mf-cell {
  &__in {
    display: flex;
    min-height: 40px;
    border-bottom: 0.5px solid var(--separator);
  }
}

// Убираем подчеркивание для последнего элемента в группе
.mf-group .mf-cell:last-child .mf-cell__in {
  border-bottom: none;
}
