.mf-group-header {
  color: var(--label-2);
}

.mf-group {
  &__content {
    background-color: var(--background-2);
    border-radius: 10px;
    overflow: hidden;
  }

  & & {
    margin-bottom: 24px;
  }
}

.mf-group:has(.mf-group) > .mf-group__content {
  background-color: initial;
}
