.mf-tabs-item {
  cursor: pointer;
}

.mf-tabs--underline {
  .mf-tabs__line {
    transition-duration: 0.3s;

    width: 20px;
    height: 3px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: var(--color-accent);
  }

  .mf-tabs-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 12px;
    min-height: 48px;
  }
}

.mf-tabs--flat {
}

.mf-tabs--light {
}
